{% extends 'layout.twig' %}

{% block body %}

  <div class= "container-fluid">
    <div class="row justify-content-md-center">
      <section class="form col-12 col-sm-6 col-md-3">
          
        <form class='form-container' id="form" action='/register' method='post'>
          <h1>{{title}}</h1>
          <div class="form-group" name="form">
            <div class="col-md-auto">
              <input name='email' placeholder='email' class="form-control my-4 p-2" id="email" required>
            </div>
          </div>
          

          <div class="form-group">
            <div class="col-md-auto">
              <input name='username' placeholder='username' class="form-control my-4 p-2" required>
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-auto">
              <input name='password' placeholder='password' class="form-control my-4 p-2" type='password' required>
            </div>
          </div>
          

          <div class="form-group">
            <div class="col-md-auto">
              <input type='submit' class="btn1 mt-3 mb-5" value="Submit">
            </div>     
          </div>


          <div>
            Already have an account? <a href='/login'>Login</a>
          </div>
          <br>
        
        </form>
            
      </section>
    </div>
  </div>
</section>  
{% endblock %}
